@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Roboto', 'Sans-serif';
     scroll-behavior: smooth;
     background-color: #121212;
     color-scheme: dark;
}

header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 20px;
     background: #121212;
     padding: 15px;
     border-radius: 40px;
     padding-right: 15px;
     box-shadow: 10px;
     box-shadow: rgb(38, 57, 77) 0px 10px 10px -10px;
     position: sticky;
     top: 0;
     width: auto;
}

.logo {
     cursor: pointer;
     font-size: 1.6rem;
     color: white;
}

li a {
     text-decoration: none;
     font-size: 1.2rem;
     font-weight: bold;
     color: white;
}

li a:hover {
     transform: scale(1.1);
     transition: 0.5s ease-in-out;
}

.cta {
     background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
     padding: 10px 30px;
     border-radius: 20px;
     font-weight: bold;
     transition: 0.5s ease-in-out;
     border: none;
     color: white;
     font-size: 1.25rem;
}

.cta:hover {
     background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
     transform: scale(1.1);
     cursor: pointer;
     transition: 0.5s ease-in-out;
}

ul {
     display: flex;
     flex-direction: row;
     list-style: none;
     gap: 2rem;
     align-items: center;
}

#hero {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-color: #121212;
}


.heading-text {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 50%;
     height: 400px;
     flex-direction: column;
     margin: 10px;
     padding-top: 15px;
     font-size: 1.5rem;
}

.heading-text .cta {
     margin: 20px;
     font-size: 1.2rem;
}




